/* General Styles */
body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

/* Navbar Styles */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 28px;
  gap: 47px;
  width: 100%;
  height: 77px;
  background: #FFFFFF;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* Logo Styles */
.navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  text-decoration: none; /* Remove underline from link */
}

.navbar-logo img {
  width: 100%;
  height: 100%;
}

/* Menu Button Styles */
.navbar-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 14px;
  width: 118px;
  height: 42px;
  background: #1E1E1E;
  border-radius: 84px;
  cursor: pointer;
}

.navbar-menu-icon-img {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

.navbar-menu-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 48px;
  color: #FFFFFF;
  margin:  0;
}

/* Search Bar Styles */
.navbar-search-bar {
  display: flex;
  align-items: center;
  padding: 6px;
  gap: 16px;
  width: 1000px;
  height: 48px;
  background: #e6e6e6;
  border-radius: 50px;
  transition: background-color 0.6s ease; /* Smooth transition */
}

.navbar-search-bar:hover {
  background-color: #cfcece; /* Hover effect for search bar */
}

.navbar-search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 44px;
}

.navbar-search-icon-img {
  width: 30px;
  height: 30px;
}

.navbar-search-text {
  flex-grow: 1;
  font-family: "sans-serif";
  font-size: 16px;
  color: #000000;
  border: none;
  outline: none;
  padding-left: 10px;
  background-color: transparent;
}

/* Login Element Styles */
.navbar-login-element {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
}

.navbar-svg-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0;
  border: none;
  background-color: white;
  width: 100%;
  height: 100%;
  transition: background-color 0.6s ease; /* Smooth transition */
}

.navbar-svg-button:hover {
  background-color: #f2f4f7; /* Hover effect for buttons */
}

.navbar-login-icon-img,
.navbar-cart-icon-img,
.navbar-heart-icon-img {
  width: 36px;  
  height: 36px; 
}

/* Cart Icon Styles */
.navbar-cart-element {
  width: 48px;
  height: 48px;
}

.navbar-heart-element {
  width: 48px;
  height: 48px;
}

.navbar-cart-element .navbar-svg-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0;
  border: none;
  background-color: white;
  transition: background-color 0.6s ease; /* Smooth transition */
}

.navbar-cart-element .navbar-svg-button:hover {
  background-color: #f2f4f7; /* Hover effect for buttons */
}
